---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';


const metadata = {
  title: 'Personal Homepage',
};
---

<Layout metadata={metadata}>
  

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Mayank Kashyap"
    tagline="Currently Studying at Medical college"
    actions={[{ variant: 'primary', text: 'Contact', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      Hello! I’m Mayank Kashyap, a 4th-year medical student at SMS&R, Greater Noida, passionate about learning medicine the right way — with clarity, curiosity, and real clinical understanding.

    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-twitter',
        callToAction: {
          target: '_blank',
          text: 'Twitter',
          href: 'https://x.com/health_blog_in',
        },
      },
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://instagram.com/mayankk0205',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://healthblog.in/mayank.png',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Welcome to my creative journey. My work is a testament to my commitment to bringing ideas to life, where each
        pixel becomes a brushstroke in the canvas of imagination.
      </p>
      <br />
      <p>
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>





  




  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
